<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>queryUser</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <style>
        .my-input {
            width: 200px;
            border: none;
            border-bottom: 2px solid #333;
            outline: none;
            transition: width 0.5s;
            color: #aeaeae;
            font-size: 15px;
        }
        .my-input:focus {
            width: 260px;
            font-size: 17px;
            color: #333;
        }
        .text-right {
            text-align: right;
            padding-right: 20px;
        }
        .panel-heading {
            font-size: 20px;
            font-weight: bold;
        }
        tr {
            margin: 10px;
        }
        td,th {
            text-align: center;
        }
        #myModal td {
            width:50%;
        }
    </style>
</head>
<body>

    <div class="container">
        <div style="text-align: right;padding: 20px 0px;">
            <input type="text" class="my-input" placeholder="Name search." id="nameSearch">
            <div class="btn-group" role="group">
                <button id="query" class="btn btn-warning"><span class="glyphicon glyphicon-search">&nbsp;</span>查询</button>
                <button id="insert" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus">&nbsp;</span>添加</button>
                <button id="update" class="btn btn-info"><span class="glyphicon glyphicon-pencil">&nbsp;</span>编辑</button>
                <button id="delete" class="btn btn-danger"><sapn class="glyphicon glyphicon-trash">&nbsp;</sapn>删除</button>
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">User Messages</div>
            <!--<table class="table">-->
                <!--<tr>-->
                    <!--<th>Name</th>-->
                    <!--<th>sex</th>-->
                    <!--<th>age</th>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>Eathon</td>-->
                    <!--<td>男</td>-->
                    <!--<td>23</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>Eathon</td>-->
                    <!--<td>男</td>-->
                    <!--<td>23</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>Eathon</td>-->
                    <!--<td>男</td>-->
                    <!--<td>23</td>-->
                <!--</tr>-->
            <!--</table>-->
            <table class="table table-hover">
                <thead id="titleList">
                </thead>
                <tbody id="tableList">
                </tbody>
            </table>
        </div>
    </div>

    <!--Handlebars.js模版放在script标签中，保留了html原有层次结构,模版中要写一些操作语句-->
    <!--id可以用来唯一确定一个模版,type是模版固定的写法-->
    <script id="title-template" type="text/x-handlebars-template">
        <tr>
            <th>Selected</th>
            <th>Name</th>
            <th>Sex</th>
            <th>Age</th>
        </tr>
    </script>
    <script id="seller-template" type="text/x-handlebars-template">
        {{#each this}}
        <tr>
            <td><input type="radio" value="{{id}}" name="userId"></td>
            <td>{{name}}</td>
            <td>{{#if sex}}male{{else}}female{{/if}}</td>
            <td>{{age}}</td>
        </tr>
        {{/each}}
    </script>

    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add user</h4>
                </div>
                <div class="modal-body">
                    <form action="" id="userForm" class="">
                        <div class="form-group row">
                            <div class="col-sm-4 text-right">
                                <label for="add-name">Name:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="add-name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 text-right">
                                <label for="add-sex">Sex:</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control" id="add-sex">
                                    <option value="0">female</option>
                                    <option value="1">male</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 text-right">
                                <label for="add-age">Age:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="add-age">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default modalClose" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addUser">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="MyModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Update user message</h4>
                </div>
                <div class="modal-body">
                    <form action="" id="updateUserForm" class="">
                        <div class="form-group row">
                            <div class="col-sm-4 text-right">
                                <label for="update-name">Name:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="update-name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 text-right">
                                <label for="update-sex">Sex:</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control" id="update-sex">
                                    <option value="0">female</option>
                                    <option value="1">male</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 text-right">
                                <label for="add-age">Age:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="update-age">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default modalClose" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="updateUser">Update</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/handlebars-v4.0.5.js"></script>
<script src="../js/queryUser.js"></script>
<link rel="stylesheet" href="../js/toastr/toastr.css">
<script src="../js/toastr/toastr.js"></script>
<link rel="stylesheet" href="../js/x0opupop/x0popup.min.css">
<script src="../js/x0opupop/x0popup.min.js"></script>
</html>