<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.CustomerMapper">
    <resultMap id="CustomerResultMap" type="api.entity.Customer">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
    </resultMap>
    <!-- 在select标签中编写查询的SQL语句，
设置select标签的id属性为getUser，id属性值必须是唯一的，不能够重复

使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果
集类型

resultType="api.entity.Customer"就表示将查询结果封装成一个User类的对象返回
    User类就是users表所对应的实体类
    -->
    <!--
        根据id查询得到一个user对象
     -->
    <select id="getUser" parameterType="api.entity.Customer"
            resultType="api.entity.Customer">
        select * from user where id=#{id}
    </select>

    <update id="updateCustomer" parameterType="api.entity.Customer">
        update user
            <set>
                <if test="name != null">
                    name = #{name},
                </if>
                <if test="sex != null">
                    sex =#{sex},
                </if>
                <if test="age != null">
                    age = #{age}
                </if>
            </set>
        where id = #{id}
    </update>
</mapper>
